*{
    margin: 0;
    padding: 0;
}

/*HEADER*/
header{
    background-image: url(../assets/images/banner-bk.jpg);
    height: 650px;
    color: white;
}
.header1{
    display: flex;
    justify-content: space-between;
}
.header2{
    align-content: center;
  margin-right: 100px;
}
.header-imagen{
    align-content: center;
    margin-left: 100px;
    width: 80px;
}
.header_titulos{
    margin: 100px;
    margin-right: 700px;
}
h1{
    font-size: 100px;
    margin-right: 400px;
    padding-bottom: 50px;
}
.parrafo_header{
    font-size: 20px;
    line-height: 25px;
}
.boton_header{
    margin-top: 20px;
    width: 110px;
    height: 35px;
    background-color: aquamarine;
    border-color:aquamarine ;
    border-radius: 20px;
}
/*SECTION1*/

